$card-style1:20vw;
$font-size1: 25px;
$font-size2: 60px;
$font-size3: 15px;
$font-size4: 40px;
$font-color: white;
$background-color1: rgb(238, 230, 230);
$background-color2: rgba(200, 193, 193, 0.8);
$elements-width: 98%;